$header-height: 100px !default;
$header-height-md: 60px !default;

$zindex-header: 1001 !default;
$zindex-sitemap: 1000 !default;
$zindex-btn-top: 999 !default;

html,body{
    //overflow-x: hidden;
    min-width:320px !important;
    word-break: keep-all;
}

@include media-breakpoint-down(md) {
    body{
        font-size: .875rem;
    }
}

#view{
    min-height:550px;
    padding-bottom: 200px;
}

@include media-breakpoint-down(md) {
    #view{
        padding-bottom: 100px;
    }
}