.ceo{
    text-align: center;
    .jumbotron-ceo{background-image: url('../images/content/bg_jumbo_ceo.jpg');}
    .name{font-size: 24px;font-weight: 700;margin-bottom: 30px;}
    > .txt{line-height: 2;}
    .summary{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;margin: $content-padding-y 0;}
    .sign{
        font-size: 20px;margin-top: 60px;
        > strong{margin-right: 8px;font-weight: 700;}
        > div{margin-top: 15px;}
    }
}
@include media-breakpoint-down(md) {
    .ceo{
        .name{font-size: 16px;margin: $content-padding-y-md 0 15px;}
        > .txt{line-height: 1.6;}
        .summary{margin: $content-padding-y-md 0;}
        .sign{font-size: 18px;margin-top: 40px;}
    }
}

.history{
    ol{
        position: relative;padding: 100px 0;
        &::before{content: '';display: block;width: 1px;height: 100%;background-color: #ddd;position: absolute;left:50%;top: 0;}
    }
    li{
        padding-bottom: $content-padding-y;padding-left: calc(50% + 85px);position: relative;
        &::before{content: '';display: block;width: 65px;height: 1px;background-color: #ddd;position: absolute;left:50%;top: 22px;}
        &::after{ content: ''; display: block; width: 8px; height: 8px; background-color: #ddd; position: absolute; left:50%; top: 22px; margin: -4px 0 0 -4px; border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50px; -ms-border-radius: 50px; -o-border-radius: 50px; transition: all .2s; -webkit-transition: all .2s; -moz-transition: all .2s; -ms-transition: all .2s; -o-transition: all .2s; }
        .year{font-family: $font-family-number;color: $primary;font-size: 30px;font-weight: 700;margin-bottom: 20px;position: relative;}
        .cont{
            p{
                position: relative;padding-left: 15px;
                &::before{content: '';display: inline-block;width: 2px;height: 2px;background-color: #777;vertical-align: middle;margin-right: 8px;}
                & + p{margin-top: 15px;}
            }
        }
    }
    li.left{
        padding-left: 0;padding-right: calc(50% + 85px);
        &::before{left: auto;right:50%;}
        .year{text-align: right;}
        .cont{text-align: right;}
    }
    li.focus::after{ background-color: $primary; transform: scale(1.6); -webkit-transform: scale(1.6); -moz-transform: scale(1.6); -ms-transform: scale(1.6); -o-transform: scale(1.6); }
}
@include media-breakpoint-down(md) {
    .history{
        ol{
            position: relative;padding: 50px 0;
            &::before{left:15px;top: 0;}
        }
        li{
            padding-bottom: $content-padding-y-md;padding-left:40px;
            &::before{width: 17px;top: 14px;left: 15px;}
            &::after{top: 14px;left: 15px;}
            .year{font-size: 20px;margin-bottom: 10px;}
            .cont p{
                padding-left: 0;
                & + p{margin-top: 6px;}
            }
        }
        li.left{
            padding-right: 0;padding-left: 40px;
            &::before{left: 15px;right:auto;}
            .year{text-align: left;}
            .cont{text-align: left;}
        }
    }
}

.policy{
    text-align: center;
    .jumbotron-policy{background-image: url('../images/content/bg_jumbo_policy.jpg');}
    .mission{
        margin: $content-padding-y 0;display: flex;justify-content: center;
        .circle{
            max-width:380px;height: 380px;border: 6px solid $primary;border-radius: 100%;overflow: hidden;margin: 0 -15px;
            .in{height: 100%;border-radius: 100%;display: flex;align-items: center;justify-content: center;flex-direction: column;border: 10px solid rgba(132,42,144,0.1);}
            p{font-size: 18px;padding: 0 40px;}
        }
    }
    .core{
        border: 1px solid #ddd;padding: $content-padding-y 15px;margin-bottom: $content-padding-y;
        .diagram{position: relative;margin-top: 40px;}
        .object{background: url('../images/content/img_core.png') no-repeat 50% 50%;width: 426px;height: 389px;background-size: contain;margin: 0 auto;}
        .value{
            position: absolute;
            span{display: block;font-weight: 500;margin-bottom: 10px;}
            &.environment{text-align: right;top: 137px;right: 50%;margin-right: 240px;}
            &.service{position: static;margin-top: -19px;}
            &.technology{text-align: left;top: 78px;left: 50%;margin-left: 206px;}
        }
    }
    .action{
        strong{
            display: block;background: $primary;color: #fff;font-size: 24px;font-weight: 700;line-height: 1.3;padding: 15px;
            span{display: block;font-size: 75%;font-weight: 500;}
        }
        p{
            border: 2px solid $primary;padding: 0 30px;position: relative;display: flex;justify-content: center;align-items: center;height: 140px;
            &::before{ content: ''; display: block; width: 2px; height: 0; background-color: #fff; position: absolute; right: -2px; top: 0; transition: all 0.3s; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; }
        }
        &.showup p::before{height: 40%;}
        &.showup [class^=col-]:nth-child(2) p::before{ transition-delay:.3s;}
        &.showup [class^=col-]:nth-child(3) p::before{ transition-delay:.6s;}
        &.showup [class^=col-]:nth-child(4) p::before{ transition-delay:.9s;}
    }
}
@include media-breakpoint-down(md) {
    .policy{
        .mission{
            margin: $content-padding-y-md 0;
            .circle{
                border-width: 4px;margin: 0 -8px;height: auto;width: 190px;
                .in{padding: 30px 0;border-width: 7px;}
                p{font-size: 13px;padding: 0 15px;}
            }
        }
        .core{
            padding: $content-padding-y-md 15px;margin-bottom: $content-padding-y-md;
            .diagram{margin-top: 20px;}
            .object{display: none;}
            .value{position: static;text-align: left !important;margin: 0 !important;
                & + .value{margin-top: 15px !important;}
            }
        }
        .action{
            .row{margin-left: 5px;margin-right: -5px;}
            [class^=col-]{padding-left: 5px;padding-right: 5px;margin-bottom: 10px;}
            strong{font-size: 16px;}
            p{height: 110px;}
        }
    }
}

.rnd{
    text-align: center;
    .jumbotron-rnd{background-image: url('../images/content/bg_jumbo_rnd.jpg');}
    .txt{line-height: 2;}
    .summary{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;margin-top: $content-padding-y;}
    .license{border-top: 1px solid #ddd;margin-top: $content-padding-y;padding-top: $content-padding-y;
        [class^=col-]{margin-bottom: 20px;}
        .item{padding: 20px;border: 1px solid #ddd;display: flex;align-items: center;height: 100%;
            .img{flex: 0 0 28%;max-width:28%;
                img{border: 1px solid #ddd;}
            }
            .info{text-align: left;padding-left: 30px;
                strong{display: block;font-size: 22px;font-weight: 700;margin-bottom: 15px;}
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .rnd{
        .summary{margin-top: $content-padding-y-md;}
        .license{margin-top: $content-padding-y-md;padding-top: $content-padding-y-md;
            [class^=col-]{margin-bottom: 10px;}
            .item{padding: 15px;border: 1px solid #ddd;
                .img{flex: 0 0 24%;max-width:24%;}
                .info{padding-left: 15px;
                    strong{font-size: 16px;margin-bottom: 6px;}
                    p{line-height: 1.5;}
                }
            }
        }
    }
}

.energy{
    text-align: center;
    .jumbotron-energy{background-image: url('../images/content/bg_jumbo_energy.jpg');}
    .diagram{border: 1px solid #ddd;padding: 120px 15px;margin-top: $content-padding-y;}
}
@include media-breakpoint-down(md) {
    .energy{
        .diagram{padding: 30px 15px;margin-top: $content-padding-y-md;}
    }
}

.rne{
    text-align: center;
    .jumbotron-rne1{background-image: url('../images/content/bg_jumbo_rne1.jpg');}
    .jumbotron-rne2{background-image: url('../images/content/bg_jumbo_rne2.jpg');}
    .jumbotron-rne3{background-image: url('../images/content/bg_jumbo_rne3.jpg');}
    .jumbotron-rne4{background-image: url('../images/content/bg_jumbo_rne4.jpg');}
    .jumbotron-rne5{background-image: url('../images/content/bg_jumbo_rne5.jpg');}

    .info{
        text-align: left;border-top: 1px solid #ddd;padding-top: $content-padding-y;margin-top: $content-padding-y;
        ul li{
            position: relative;line-height: 1.63;padding-left: 10px;
            &:before{content: '·';position: absolute;left:0;top:0}
            & + li{margin-top: 30px;}

            dl{display: flex;margin-top: 10px;
                dt{flex: 1 0 auto;font-weight: 500;
                    &::before{content: '- ';padding: 0 5px;}
                    &::after{content: ':';padding: 0 5px;}
                }
                dd{flex: 1 1 auto;}
            }
        }
        p{line-height: 1.63;}
    }

    .diagram{background: #fafafa;padding: $content-padding-y 15px;margin-top: $content-padding-y;}
}
@include media-breakpoint-down(md) {
    .rne{
        .info{
            padding-top: $content-padding-y-md;margin-top: $content-padding-y-md;
            [class^=col-] + [class^=col-]{margin-top: $content-padding-y-md;}
            ul li{
                & + li{margin-top: 15px;}
            }
        }
        .diagram{padding: $content-padding-y-md 15px;margin-top: $content-padding-y-md;}
    }
}

.bio{
    text-align: center;
    .jumbotron-bio{background-image: url('../images/content/bg_jumbo_bio.jpg');
        p{width: 100%;padding: 0 95px;font-size: 44px;line-height: 1.45;font-weight: 700;text-align: left;
            span{display: block;font-weight: 400;font-size: 26px;margin-top: 15px;}
            &::before,
            &::after{display: none;}
        }
    }

    .summary{border-top: 1px solid #ddd;margin-top: $content-padding-y;}
    .info{
        border-top: 1px solid #ddd;padding-top: $content-padding-y;
        p{line-height: 2;}
    }

}
@include media-breakpoint-down(md) {
    .bio{
        .jumbotron-bio{
            p{padding: 0 15px;font-size: 18px;line-height: 1.45;font-weight: 700;text-align: left;
                span{display: block;font-weight: 400;font-size: 17px;margin-top: 10px;}
            }
        }
        .summary{margin-top: $content-padding-y-md;}
        .info{
        padding-top: $content-padding-y-md;
            p{line-height: 1.7;}
        }
    }
}

.contact{
    margin-top: $content-padding-y;
    .col-md-4{border: 1px solid #ddd;border-left: 0;}
    .col-md-4:first-child{border-left: 1px solid #ddd;}
    .info{padding: 12px 10px;height: 100%;font-size: 18px;}
    .info.go{padding: 0;
        a{display: flex;align-items: center;justify-content: center; width: 100%;height: 100%;background: $secondary url('../images/content/bg_line_right.png') no-repeat 100% 100%;color: #fff;}
        span{display: inline-block;padding: 0 5px;background-color: #fff;color: $secondary;margin-left: 10px;border-radius: 10px;}
    }
}
@include media-breakpoint-down(md) {
    .contact{
        margin-top: $content-padding-y-md;
        .col-6{border: 1px solid #ddd;border-left: 0;}
        .col-6:first-child{border-left: 1px solid #ddd;}
        .col-12{border: 0;margin-top: -1px;}
        .info{padding: 12px 10px;font-size: 14px;}
        .info.go{
            a{padding: 12px 0;}
        }
    }
}

.location{
    .top{background-color: #e7e9e9;text-align: center;padding: $content-padding-y 15px;margin-bottom: $content-padding-y;}
    .card-wrap{border-top: 2px solid $dark;}
    .card{border-bottom: 1px solid #ddd;}
    .card-header a{
        display: block;padding: 30px;position: relative;
        &:hover{text-decoration: none;color: inherit;}
        &::before{
            content: "\f077";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: #d7dfe1;
            font-size: 35px;
            position: absolute;
            right:30px;
            top:50%;
            margin-top: -18px;
            transition: all .2s .25s;
            -webkit-transition: all .2s .25s;
            -moz-transition: all .2s .25s;
            -ms-transition: all .2s .25s;
            -o-transition: all .2s .25s;
        }
        &.collapsed::before{ transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg);}
    }
    .name{
        display: flex;font-size: 24px;font-weight: 500;margin-bottom: 20px;
        span{color:$primary;font-weight: 500;
            &::before{content: '';display: inline-block;vertical-align: middle;width: 1px;height: 16px;background-color: #ddd;margin: 0 15px;}
        }
    }
    dl{
        display: flex;
        dt{font-weight: 500;}
        dd{margin-left: 12px;}
        dd + dt::before{content: '';display: inline-block;vertical-align: middle;width: 1px;height: 12px;background-color: #999;margin: 0 12px;}
        & + dl{margin-top: 10px;}
    }
    .map-wrap{
        width: 100%;height: 0;padding-bottom: 42.3%;position: relative;
        .map{position: absolute;left: 0;top: 0;width: 100%;height: 100%;background-color: #aaa;}
    }
}

@include media-breakpoint-down(md) {
    .location{
        .top{padding: $content-padding-y-md 15px;margin-bottom: $content-padding-y-md;}
        .card-wrap{border-top: 1px solid $dark;}
        .card-header a{
            padding: 15px 35px 15px 10px;
            &::before{
                font-size: 20px;
                right:10px;
                margin-top: -10px;
            }
        }
        .name{font-size: 17px;margin-bottom: 15px;
            span{
                &::before{height: 14px;margin: 0 8px;}
            }
        }
        dl{
            display: block;
            dt{display: inline;}
            dd{margin-left: 4px;display: inline;}
            dd + dt::before{height: 12px;margin: 0 7px 0 4px;}
            & + dl{margin-top: 10px;}
        }
    }
}