#footer{
    border-top: 1px solid #ddd;padding: 30px 0;font-size: 14px;

    .container{
        position: relative;
    }

    .menu{
        margin-bottom: 25px;padding-top: 12px;
        ul{
            display: flex;
        }        
        li{
            position: relative;font-weight: 500;font-size: 15px;
            strong{
                color: $primary;
            }
        }
        li + li{
            margin-left: 15px;padding-left: 15px;
        }
        li + li:before{
            content: '';display: block;width: 1px;height: 12px;background-color: #ddd;position: absolute;left:0;top:50%;margin-top: -6px;
        }
    }
    
    .social-wrap{
        position: absolute;right:0;top:0;display: flex;
        .social{
            margin-right: 30px;
            i {
                font-size: 46px;color: #5064a8;
            }            
        }
        .familysite{
            .btn-outline-dark{background: #fff !important;color: $dark !important;position: relative;z-index: 2;}
            
            .dropdown-toggle{
                font-size: 14px;
                min-width:230px;
                padding: 0.72rem 1.25rem;
                text-align: left;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;                
            }
            .dropdown-toggle:after{
                margin-top: .6em;float: right;            
            }
            .dropdown-menu{
                width: 230px;font-size: 14px;padding: 15px 15px 55px;border-radius: 25px;border: 1px solid $dark;margin-bottom: -40px;z-index: 1;
                a{padding: 0.5rem 0.5rem;}
                .box{height: 300px;overflow-x: hidden;}
            }
        }
    }
    
    .info{
        > div{
            margin: 6px 0 0;
        }
    }
    .copyright{
        margin: 15px 0 0;
    }
}

.btn-top{ 
    position: fixed; right:-80px; bottom:10px; z-index: $zindex-btn-top;transition: all 0.3s; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s;
    a{
        display: inline-block;width: 50px;height: 50px;line-height: 50px;text-align: center;background-color: $pink;font-size: 16px;color: #fff;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
    }
    &.active{
        right: 10px;
    }
}

@include media-breakpoint-down(md) {
    #footer{ 
        padding: 20px 0;font-size: 12px;letter-spacing: -0.035em;

        .menu{
            margin-bottom: 20px;padding-top: 0;
            li{font-size: 13px;white-space: nowrap;}      
            li + li{
                margin-left: 8px;padding-left: 8px;
            }
        }

        .social-wrap{
            position: static;margin-bottom: 20px;
            .social{
                margin-right: 15px;
                i{
                    font-size: 36px;
                }
            }
            .familysite{
                .dropdown-toggle{
                    padding-top: .4rem;padding-bottom: .4rem;
                }
                .dropdown-menu{
                   font-size: 13px;padding: 15px 15px 43px;margin-bottom: -33px;z-index: 1;
                    a{padding: 0.4rem 0.4rem;}
                    .box{height: 180px;}
                }
            }
        }
    }
    .btn-top{ 
        bottom:15px;
        a{
            width: 40px;height: 40px;line-height: 40px;
        }
        &.active{
            right: 15px;
        }
    } 
}