#header {    
    > .container{      
        height: 100%;  
        display: flex;
        justify-content: space-between;
        -webkit-box-pack: justify; -ms-flex-pack: justify;
        align-items: center;
        padding: 0 60px;
        margin: 0 auto;
        max-width:none;
    }
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: $zindex-header;
    height: $header-height;    
    transition: all 0.15s;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -ms-transition: all 0.15s;
    -o-transition: all 0.15s;

     .logo {
        line-height: 1;position: relative;
        a{
            display: inline-block;width: 124px;height: 70px;background: url('../images/common/logo.png') no-repeat 0 0;background-size: contain;
        }
    }

    .menu {
        color: #fff;
        > ul{
            display: flex;align-items: center;
            > li{
                margin-left: 30px;position: relative;
            }               
        }        
    }
    .quick {text-decoration: none;}
    .btn-lang{
        color: #fff;position: relative;text-decoration: none;font-size: 15px;vertical-align: top;font-weight: 500;
        &::before{
            content: '';display: inline-block;vertical-align: middle;width: 19px;height: 19px;background: url('../images/common/ico_global.png') no-repeat 0 0;margin-top: -2px;margin-right: 8px;
        }
        i{
            margin-left: 5px;     
        }
    }
    .btn-sitemap {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;

        &::after,
        &::before,
        & span {
            display: block;
            transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            content: '';
            margin: 10px 0;
            height: 4px;
            background-color: #fff;
        }
    }
    #gnb{
        width: 100%;height: 100%;position: absolute;left:0;top: 0;text-align: center;display: flex;justify-content:center;overflow: hidden;
        transition: background-color 200ms ease-in-out, height 420ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
        .row{width: 625px;}
        a{color: #fff;}
        a:hover{text-decoration: none;}        
        .depth1{
            cursor:pointer;
            > a{display: block;height: 100%;padding: 35px 25px;font-size: 20px;font-weight: 700;text-shadow: 1px 1px 2px rgba(0,0,0,0.1);}
        }
        .list{
            display: none;letter-spacing: -0.03em;position: absolute;left: 45px;top: $header-height;text-align: left;padding-top: 30px;width: 100%;padding-left: 10px;padding-right: 10px;
            a:hover{color: $primary;}
            > li{line-height: 1.8;margin-bottom: 3px;}
            > li > a{font-size: 15px;position: relative;}
            > li > ul{padding-left: 2px;}
            > li > ul > li:before{content: '- ';}
            > li > ul > li > a{font-size: 13px;}
            > li.active > a{font-weight: 700;}
            > li.active > a::after{content: '';display: inline-block;width: 100%;height: 1px;position: absolute;left:0;bottom:-4px;background-color: $primary;}
        }
        .depth1.active{
            > a{
                span{
                    position: relative;
                    &::after{content: '';display: inline-block;width: 100%;height: 2px;position: absolute;left:0;bottom:-5px;background-color: $primary;}
                }
            }
        }
    }
}
html:not(.open-sitemap) #header:hover{
    background: #fff;
    .logo {
        a{background-image: url('../images/common/logo_b.png');}
    }
    .quick {color: $dark;}
    .btn-lang{
        color: $dark;
        & i{color: $dark;}
        &::before{background-image: url('../images/common/ico_global_b.png');}
    }
    .btn-sitemap {    
        &::after,
        &::before,
        & span {background-color: $dark;}
    }
    #gnb{        
        .depth1 > a{color: $dark;text-shadow: none !important;}        
    }
}
@include media-breakpoint-down(md) {
    #header{
        padding: 0 15px;height: $header-height-md;
        .container{padding: 0;}
        .logo a{height: 38px;}
        .btn-sitemap {
            width: 30px;

            &::after,
            &::before,
            & span {
                margin: 7px 0;
                height: 3px;
            }
        }
        #gnb{display: none;}
    }
}
@include media-breakpoint-down(sm) {
    
}
html.open-gnb-sub,
html.header-over{
    #header {
        .logo {
            a{background-image: url('../images/common/logo_b.png');}
        }
        .quick {color: $dark;}
        .btn-lang{
            color: $dark;
            & i{color: $dark;}
            &::before{background-image: url('../images/common/ico_global_b.png');}
        }
        .btn-sitemap {    
            &::after,
            &::before,
            & span {background-color: $dark;}
        }
        #gnb{        
            a{color: $dark;}        
        } 
    }
    
}
html.open-gnb-sub{
    #header{
        &::before{content: '';width: 100%;height: 1px;background-color: #ddd;position: absolute;left:0;top:$header-height;z-index: 1;}
        #gnb{
            height: 500px;background: #fff;box-shadow: 0 5px 8px rgba(0,0,0,0.2);
            .list{display: block;}
        } 
    }
}

html.header-fixed{
    #header {        
        background-color: rgba(255,255,255,1);height: calc(#{$header-height} - 20px);border-bottom: 1px solid #ddd;
        > .container{
            width: 100%;max-width:100%;padding: 0 60px;
        }
        .logo {
            a{height: 56px;background-image: url('../images/common/logo_b.png');}
        }
        .quick {color: $dark;}
        .btn-lang{
            color: $dark;
            & i{color: $dark;}
            &::before{
                background-image: url('../images/common/ico_global_b.png');
            }
        }
        .btn-sitemap {    
            &::after,
            &::before,
            & span {
                background-color: $dark;
            }
        }
        #gnb{display: none;}
    }
    
}

html.hide-gnb{
    #header{
        -webkit-transform: translateY(-$header-height);
        -moz-transform: translateY(-$header-height);
        -ms-transform: translateY(-$header-height);
        -o-transform: translateY(-$header-height);
        transform: translateY(-$header-height);
        -webkit-transition: -webkit-transform 220ms ease-in-out;
        -moz-transition: -moz-transform 220ms ease-in-out;
        -ms-transition: -ms-transform 220ms ease-in-out;
        -o-transition: -o-transform 220ms ease-in-out;
        transition: transform 220ms ease-in-out;
    }
}
@include media-breakpoint-down(md) {
    html.header-fixed{
        #header {
            height: calc(#{$header-height-md} - 10px);
            .container{padding: 0;}
            .logo {
                a{height: calc(#{$header-height-md} - 25px);}
            }
        }
    }
    html.hide-gnb{
        #header{
            -webkit-transform: translateY(-$header-height-md);
            -moz-transform: translateY(-$header-height-md);
            -ms-transform: translateY(-$header-height-md);
            -o-transform: translateY(-$header-height-md);
            transform: translateY(-$header-height-md);
        }
    }
}

.sitemap-wrap {
    position: fixed;z-index: $zindex-sitemap;top: 0;left: 100%;width: 100%;height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-transition: left 380ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: left 380ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-transition: left 380ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: left 380ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: left 380ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

    .sitemap-container {
        height: 100%;overflow-x: hidden;overflow-y: auto;
    }
    .sitemap {
        padding: 0 15%;height: 100%;
        .container{
            display: flex;display: -ms-flexbox;display: -webkit-flex;justify-content: space-around;flex-direction: column;height: 100%;
        }
        .row{margin-left: -25px;margin-right: -25px;
            [class^=col-]{padding-left: 25px;padding-right: 25px;}
        }
        .depth1{
            > a {
                display: block;color: #fff;font-size: 38px;padding-bottom: 15px;position: relative;margin-bottom: 30px;
                &::before{
                    content: "";display: block;position: absolute;bottom: 0;left: 0;width: 0;border-bottom-style: solid;border-bottom-width: 3px;border-color: #fff;
                    -webkit-transition: width 280ms ease-in-out;
                    -moz-transition: width 280ms ease-in-out;
                    -ms-transition: width 280ms ease-in-out;
                    -o-transition: width 280ms ease-in-out;
                    transition: width 280ms ease-in-out;                
                }
            }
        }
        a {color: #fff;line-height: 1.7;text-decoration: none;}
        .list{        
            > li{
                margin-bottom:10px;font-size: 24px;
                > ul{
                    > li{
                        font-size: 17px;margin: 4px 0 4px 10px;
                        > a::before{
                            content: '- ';
                        }
                    }
                }
            }
        }
        .depth1.active > a::before{width: 100%;}
    }
}

html.open-sitemap {
    overflow: hidden;width: 100%;height: 100vh;    
    #header{
        .btn-sitemap{
            &::before {
                transform: translateY(14px) rotate(135deg);
                -webkit-transform: translateY(14px) rotate(135deg);
                -moz-transform: translateY(14px) rotate(135deg);
                -ms-transform: translateY(14px) rotate(135deg);
                -o-transform: translateY(14px) rotate(135deg);
            }    
            &::after {
                transform: translateY(-14px) rotate(-135deg);
                -moz-transform: translateY(-14px) rotate(-135deg);
                -webkit-transform: translateY(-14px) rotate(-135deg);
                -ms-transform: translateY(-14px) rotate(-135deg);
                -o-transform: translateY(-14px) rotate(-135deg);
            }    
            & span {
                transform: scale(0);
                -moz-transform: scale(0);
                -webkit-transform: scale(0);
            }
        }        
        #gnb{display: none;}
    }
    .sitemap-wrap {
        left: 0;
        -webkit-transition: left 480ms 120ms cubic-bezier(0.45, 0, 0.25, 1);
        -moz-transition: left 480ms 120ms cubic-bezier(0.45, 0, 0.25, 1);
        -ms-transition: left 480ms 120ms cubic-bezier(0.45, 0, 0.25, 1);
        -o-transition: left 480ms 120ms cubic-bezier(0.45, 0, 0.25, 1);
        transition: left 480ms 120ms cubic-bezier(0.45, 0, 0.25, 1);
    }
}
@include media-breakpoint-down(xl) {
    .sitemap-wrap {
        .sitemap {
            padding: 0 4%;
        }
    }
}
@include media-breakpoint-down(md) {
    .sitemap-wrap {
        padding-top: $header-height-md;
        .sitemap-container{
            overflow-x: hidden;overflow-y: auto;
        }
        .sitemap {
            .row{height: 100%;}
            .depth1{
                > a{
                    font-size: 18px;margin-bottom: 15px;padding-top: 15px;
                    &::before{
                        width: 100%;
                        border-bottom-width: 2px;
                    }
                }
            }
            .list > li,
            .list > li > ul > li{font-size: 13px;}
        }
    }
    html.open-sitemap {
        #header {
            .btn-sitemap {
                &::before {
                    transform: translateY(10px) rotate(135deg);
                    -webkit-transform: translateY(10px) rotate(135deg);
                    -moz-transform: translateY(10px) rotate(135deg);
                    -ms-transform: translateY(10px) rotate(135deg);
                    -o-transform: translateY(10px) rotate(135deg);
                }

                &::after {
                    transform: translateY(-10px) rotate(-135deg);
                    -moz-transform: translateY(-10px) rotate(-135deg);
                    -webkit-transform: translateY(-10px) rotate(-135deg);
                    -ms-transform: translateY(-10px) rotate(-135deg);
                    -o-transform: translateY(-10px) rotate(-135deg);
                }
            }
        }
    }
}

#nav{
    border-bottom: 1px solid #ddd;
    .container{
        height: 60px;display: flex;align-items:center;
        div{height: 100%;}
        > div{
            min-width: 250px;position: relative;height: 100%;
            &::before{
                content: '';display: block;width: 1px;height: 100%;background-color: #ddd;position: absolute;right:0;top:0;z-index: 1;
            }
            li.active{display: none;}
            .ing{
                display: flex;align-items:center;position: relative;height: 100%;text-decoration: none;padding: 0 50px 0 20px;font-size: 19px;
        
                &::before{
                    content: '';display: block;width: 0; height: 0; border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 6px solid black;position: absolute;right: 20px;top: 50%;margin-top: -2.5px;
                    -ms-transform: rotate(0);
                    -webkit-transform: rotate(0);
                    transform: rotate(0);
                    transition:transform 0.3s ease;
                    -webkit-transition-delay: .1s;
                    -o-transition-delay: .1s;
                    transition-delay: .1s            ;
                    -webkit-transition:transform 0.3s ease;
                    -moz-transition:transform 0.3s ease;
                    -ms-transition:transform 0.3s ease;
                    -o-transition:transform 0.3s ease;
                }
                &.active{
                    background-color: #f5f5f5;
                }
                &.active + ul{display: block;}                
                &.active:before{-ms-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}
            }
            &:last-of-type > a{
                color: $primary;font-weight: 700;
            }
            &.home{
                min-width: inherit;border-left: 1px solid #ddd;margin-left: 0;
                .ing::before{
                    display: none;
                }
            }
            &.dep2,
            &.dep3{display: none;}
        }
        ul {
            display: block;background-color: #f5f5f5;border-top: 1px solid #ddd;position: absolute;left:0;top:60px;z-index: 2;width: 100%;padding: 10px 0;line-height: 34px;letter-spacing: -0.03em;display: none;
            li{padding-left: 0;padding-right: 0;width: auto;max-width: none;}
            a{
                font-size: 17px;text-decoration: none;color: #666;display: block;padding: 10px 20px;line-height: 1;
                &:hover{
                    background-color: #f4f4f4;color: $primary;
                }
            }
        }
    }
    &.system,
    &.util{
        .dep1 a{pointer-events: none;}
        .dep1 a::before{display: none;}
    }
}
@include media-breakpoint-down(md) {
    #nav{
        .container{
            height: 50px;padding: 0;
            > div{
                min-width: 50%;max-width:100%;flex: 0 1 100%;
                .ing {padding: 0 15px;font-size: 14px;}
                .ing.active + ul{box-shadow: 2px 2px 300px rgba(0, 0, 0, 0.6);}
                &.home,
                &.dep1{display: none;}
            }
            ul{
                top: 50px;
                a{font-size: 14px;padding: 10px 15px;}
            }
        }
        &.util{display: none;}
    }
}